html{
   
}

body{
    background-color: #f0f8ff;
    color: #4b0082;
    font-family: sans-serif;
    width: 100%;
    margin: auto;
    }

#heading1{
    text-align:start;
    }


#heading2{
    text-align:end;
    }

h2{
   text-align: center;
    }

hr{
    height:3px;
    border-width: 0;
    background-color: #4b0082;
    margin-top:0;
    }

p{
    text-align: center;
    }

iframe{
    height: 80%;
    width: 100%;
    }